.custom-button {
    display: inline-block;
    width: auto;
    min-width: 200px;
    height: 50px;
    border: none;
    padding: 0 30px;
    border-radius: 3px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-transition: background-color 0.4s, color 0.4s, border-color 0.4s;
    -o-transition: background-color 0.4s, color 0.4s, border-color 0.4s;
    -webkit-transition: background-color 0.4s, color 0.4s, border-color 0.4s;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
    font-size: 1.125rem;
    font-family: "HPSimplifiedLight", Arial, sans-serif;
    letter-spacing: 0.1rem;
    text-indent: 0.1rem;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    &.primary-button {
        position: relative;
        background-color: #0096d6;
        color: #fff;
        &:hover {
            background-color: #0171ad;
        }
    }
    &.secondary-button {
        position: relative;
        background-color: #ffffff;
        color: #0096d6;
        border: 1px solid #0096d6;
        &:hover {
            color: #ffffff;
            background-color: #0171ad;
            border-color: #0171ad;
        }
        &.black-version {
            color: #000;
            border-color: #000;
            &:hover {
                color: #ffffff;
                background-color: #000;
                border-color: #000;
            }
        }
    }    
}

.custom-link {
    &.arrow-right {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        padding: 0 12px 0 0;        
        width: auto;
        text-decoration: none;
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: auto;
            right: 0;
            bottom: 5px;
            width: 0;
            height: 0;
            margin: 0;
            border-top: 5px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #fff;
        }
        &:hover {
            text-decoration: underline;
        }
    }    
}