@font-face {
    font-family: 'HPIFlex2Icons';
    src: url("../fonts/flex2/HPIFlex2Icons-eot.eot");
    src: url("../fonts/flex2/HPIFlex2Icons-eot.eot?#iefix") format("embedded-opentype"),
      url("../fonts/flex2/HPIFlex2Icons-woff.woff") format("woff"),
      url("../fonts/flex2/HPIFlex2Icons-ttf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:subpixel-antialiased
}
@font-face {
    font-family: 'gobold_high_thin';
    src: url("../fonts/flex2/gobold_high_thin-eot.eot");
    src: url("../fonts/flex2/gobold_high_thin-eot.eot?#iefix") format("embedded-opentype"),
      url("../fonts/flex2/gobold_high_thin-woff.woff") format("woff"),
      url("../fonts/flex2/gobold_high_thin-ttf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:subpixel-antialiased
}

@font-face {
    font-family: 'gobold_high_bold';
    src: url("../fonts/flex2/gobold_high_bold-eot.eot");
    src: url("../fonts/flex2/gobold_high_bold-eot.eot?#iefix") format("embedded-opentype"),
      url("../fonts/flex2/gobold_high_bold-woff.woff") format("woff"),
      url("../fonts/flex2/gobold_high_bold-ttf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:subpixel-antialiased
}

@font-face {
    font-family: 'gobold_up_low';
    src: url("../fonts/flex2/gobolt_up_low-eot.eot");
    src: url("../fonts/flex2/gobolt_up_low-eot.eot?#iefix") format("embedded-opentype"),
      url("../fonts/flex2/gobolt_up_low-woff.woff") format("woff"),
      url("../fonts/flex2/gobolt_up_low-ttf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:subpixel-antialiased
}

@font-face {
    font-family: 'gobold_thin_light';
    src: url("../fonts/flex2/gobold_thin_light-eot.eot");
    src: url("../fonts/flex2/gobold_thin_light-eot.eot?#iefix") format("embedded-opentype"),
      url("../fonts/flex2/gobold_thin_light-woff.woff") format("woff"),
      url("../fonts/flex2/gobold_thin_light-ttf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:subpixel-antialiased
}

@font-face {
    font-family: 'gobold_regular';
    src: url("../fonts/flex2/gobold_regular-eot.eot");
    src: url("../fonts/flex2/gobold_regular-eot.eot?#iefix") format("embedded-opentype"),
      url("../fonts/flex2/gobold_regular-woff.woff") format("woff"),
      url("../fonts/flex2/gobold_regular-ttf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:subpixel-antialiased
}

@font-face {
    font-family: 'gobold_bold';
    src: url("../fonts/flex2/gobold_bold-eot.eot");
    src: url("../fonts/flex2/gobold_bold-eot.eot?#iefix") format("embedded-opentype"),
      url("../fonts/flex2/gobold_bold-woff.woff") format("woff"),
      url("../fonts/flex2/gobold_bold-ttf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:subpixel-antialiased;
}