#hidden-image-section {
  display: none;
}

.overlay {
  display: none;
}

.overlay.opened {
  display: block;
}

.modal-mask {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}

.modal-mask.dark {
  background-color: rgba(0, 0, 0, 1);
}

.modal-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background: transparent;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  overflow-x: auto;
  z-index: 100001;
}

.modal-container iframe {
  width: 824px;
}

.video-overlay .modal-container {
  width: 100%;
  max-width: 964px;
  background: transparent;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.video-overlay.square-video .modal-container {
  width: 45%;
}

.overlay.video-overlay .modal-container > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.overlay.video-overlay.square-video .modal-container > div {
  padding-bottom: 100%;
}

.overlay.video-overlay .modal-container > div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media all and (max-width: 1430px) {
  .video-overlay.square-video .modal-container {
    width: 55%;
  }
}

@media all and (max-width: 1100px) {
  .video-overlay.square-video .modal-container {
    width: 60%;
  }
}

@media all and (max-width: 800px) {
  .overlay, .overlay .button-wrapper {
    height: auto;
  }
  .video-overlay.square-video .modal-container {
    width: 70%;
  }
}

@media all and (max-width: 671px) {
  .video-overlay.square-video .modal-container {
    width: 90%;
  }
}

@media all and (max-width: 497px) {
  .video-overlay.square-video .modal-container {
    width: 100%;
  }
}

/* Overlay outer close button */

.video-close {
  position: relative;
  float: right;
  right: 30px;
  top: 30px;
  width: 28px;
  height: 28px;
  display: inline-block;
  font-style: normal;
  cursor: pointer;
  padding: 10px;
  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 34px;
    height: 1px;
    background-color: #ffffff;
    display: block;
    left: 0;
    cursor: pointer;
  }
  &:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &:hover {
    &:before,
    &:after {
      background: #0096d6;
    }
  }
}

/* Overlay inner close button */

.inner-close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  font-style: normal;
  padding: 10px;
  cursor: pointer;
  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #a3a3a3;
    display: block;
    left: 0;
  }
  &:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &:hover {
    &:before,
    &:after {
      background: #0096d6;
    }
  }
}

/* Brightcove Player */

#bc-player {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

/* Reseller with colors */

#reseller-with-colors-overlay {
  .reseller-container {
    margin: 0 auto;
    padding: 40px 0 0;
    position: relative;
    background-color: #f4f4f4;
    max-width: 1000px;
    height: auto;
    overflow: hidden;

    .row {
      width: 100%;
      display: inline-block;
      padding: 0 25px 15px;
      margin: 0;

      .col-50 {
        width: 50%;
        padding: 0;
        margin: 0;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
      .image-block {
        padding-right: 30px;
        img {
          width: 100%;
          padding: 0;
          margin: 0;
          border: none;
        }
      }
      .text-block {
        .title {
          font-size: 36px;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
        .description {
          font-size: 24px;
          margin-bottom: 10px;
        }
        .description-2 {
          font-size: 20px;
          line-height: 22px;
          display: none;
          &.active {
            display: block;
            margin-bottom: 10px;
          }
        }
        .color {
          font-size: 16px;
          color: #333333;
          margin-bottom: 10px;
          display: none;
          &.active {
            display: block;
          }
        }
        .color-dots {
          list-style-type: none;
          margin-bottom: 10px;
          display: none;
          min-height: 52px;
          &.active {
            display: block;
          }
          li {
            position: relative;
            display: inline-block;
            .color-dot {
              width: 52px;
              display: inline-block;
              .circle {
                border-radius: 50%;
                position: absolute;
                cursor: pointer;
                display: block;
                &.border {
                  width: 52px;
                  height: 52px;
                  top: 0;
                  left: 0;
                  background: #f4f4f4;
                }
                &.border-space {
                  width: 50px;
                  height: 50px;
                  top: 1px;
                  left: 1px;
                  background: #f4f4f4;
                }
                &.colored {
                  width: 40px;
                  height: 40px;
                  top: 5px;
                  left: 5px;
                  background: black;
                }
              }
              &.active .border {
                background: gray;
              }
            }

          }
        }

      }
      &.shop-logos {
        padding-top: 20px;
        background-color: #ffffff;
        min-height: 152px;
        h2 {
          font-size: 30px;
          color: #333333;
          margin-bottom: 0;
          line-height: 34px;
        }
        .logos {
          display: block;
          text-align: center;
          a {
            margin: 0;
            padding: 10px;
            vertical-align: middle;
            text-decoration: none;
            cursor: pointer;
            display: none;
            &.active {
              display: inline-block;
            }
            img {
              width: 100%;
              padding: 0;
              margin: 0;
              border: none;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 760px) {
    .reseller-container {
      .row {
        padding: 0 10px;
        .image-block {
          text-align: center;
          img {
            width: 70%;
          }
        }
        .text-block {
          .title {
            font-size: 25px;
          }
          .description {
            font-size: 18px;
          }
          .description-2 {
            font-size: 18px;
            line-height: 19px;
          }
          .color-dots {
            min-height: 48px;
            li {
              display: inline-block;
              .color-dot {
                width: 48px;
                .circle {
                  border-radius: 50%;
                  position: absolute;
                  cursor: pointer;
                  display: block;
                  &.border {
                    width: 48px;
                    height: 48px;
                  }
                  &.border-space {
                    width: 46px;
                    height: 46px;
                  }
                  &.colored {
                    width: 36px;
                    height: 36px;
                  }
                }
              }
            }
          }
        }
        &.shop-logos {
          padding: 10px;
          min-height: 100px;
          h2 {
            font-size: 18px;
            line-height: 19px;
          }
          .logos {
            a {
              max-width: 83px;
              padding: 5px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 560px) {
    .reseller-container {
      .row {
        .col-50 {
          width: 100%;
          display: block;
          text-align: center;
        }
        .image-block {
          padding-right: 0;
          img {
            width: 60%;
          }
        }
        .text-block {
          .title {
            font-size: 21px;
          }
          .description {
            font-size: 16px;
            margin-bottom: 0;
          }
          .description-2 {
            font-size: 16px;
            line-height: 17px;
            max-width: 70%;
            margin: 0 auto;
          }
          .color {
            margin-top: 5px;
          }
        }
        &.shop-logos {
          padding: 10px;
          h2 {
            font-size: 20px;
            line-height: 22px;
          }
          .logos {
            a {
              max-width: 120px;
            }
          }
        }
      }
    }
  }
}