.go-from {
    position: relative;
    background: #627077 no-repeat scroll 50% 50%;
    background-image: url(i/sprocket/sf_go_from_bkg.png);
    background-size: cover;
    height: 1000px;
    .main-image {
        display: none;
    }
    img {
        width: 100%;
        max-width: 100%;
    }
    .head-item {
        display: block;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
        h2 {
            font-size: 56px;
            line-height: 1.25;
            margin-bottom: 10px;
            letter-spacing: 5px;
            font-weight: normal;
            text-transform: uppercase;
        }
        .description {
            font-size: 20px;
            line-height: 1.5;
        }
    }
}

@media all and (max-width: 1280px) {
    .go-from {
        background: none;
        background-color: #f4f4f4;
        height: auto;
        .main-image {
            position: relative;
            display: inline-block;            
            &.mobile {
                display: none;
            }
        }
        .head-item {
            position: absolute;
            top: 0;
            left: 0;
            max-width: none;
            padding-top: 80px;
            z-index: 1;
            h2 {
                font-size: 50px;
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .go-from {
        .head-item {
            h2 {
                font-size: 46px;
            }
        }
    }
}

@media all and (max-width: 800px) {
    .go-from {
        .head-item {
        	position: static;
            padding-top: 80px;
            padding-bottom: 80px;
            h2 {
                font-size: 40px;
                margin-bottom: 30px;
            }
        }
    }
}

@media all and (max-width: 671px) {
    .go-from {    	
        .head-item {
            h2 {
                font-size: 32px;
            }
        }
    }
}

@media all and (max-width: 497px) {
    .go-from { 
    	.main-image {
            &.mobile {
                display: inline-block;
            }
            &.tablet {
                display: none;
            }
        }       
        .head-item {
            padding-top: 50px;
            padding-bottom: 0;
            position: absolute;
            h2 {
                font-size: 24px;
            }
            .description {
                font-size: 18px;
            }
        }
    }
}