section.club-is-back {
  padding-bottom: 80px;
  background: #f4f4f4;

  .width-50 {
    width: 50%;
  }

  .slider {

    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;

      .text-wrapper {
        padding: 0 100px;

        img {
          margin: 50px auto;
        }
      }
    }

    .image-wrapper {
      height: 705px;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;

      &.slide-1 {
        background-image: url("i/sprocket/sf_club-back-slide1-bg.png");
      }
      &.slide-2 {
        background-image: url("i/sprocket/sf_club-back-slide1-bg.png");
      }
      &.slide-3 {
        background-image: url("i/sprocket/sf_club-back-slide1-bg.png");
      }
    }

    h3 {
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .description {
      font-size: 20px;
      margin-bottom: 50px;
      line-height: 1.2;
    }

    .slick-list {
      padding-bottom: 30px;
    }

    .slick-prev, .slick-next {
      margin-top: -50px;
      z-index: 1;
    }

    .slick-prev {
      left: 50px;
    }

    .slick-next {
      right: 50px;
    }
  }

  @media screen and (max-width: 1024px) {
    .slider {
      .cell {
        .text-wrapper {
          padding: 0 50px;
          img {
            width: 100px;
            margin-top: 25px;
            margin-bottom: 25px;
          }
        }
      }

      .description {
        margin-bottom: 25px;
      }

      .slick-dots {
        bottom: -30px;
      }

      .slick-prev {
        left: 20px;
      }

      .slick-next {
        right: 20px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    padding: 0 20px;

    .width-50 {
      width: 100%;
    }

    .slider {
      .cell {
        display: block;
        .text-wrapper {
          padding: 60px 20px 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .image-wrapper {
          height: 570px;
        }
      }

      .slick-prev, .slick-next {
        display: none!important;
      }

      .slick-dots {
        bottom: 445px;
      }

      h3 {
        font-size: 24px;
      }

      .description {
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 671px) {
    .slider {
      .cell {
        .image-wrapper {
          height: 280px;
          background-position: top;
        }
      }

      .slick-dots {
        top: 300px;
        bottom: auto;
      }
    }
  }
}