.ambient-video {
    .hero-banner {
        background: none;
        position: relative;
        height: 565px;
        overflow: hidden;
        .text-wrapper {
            position: absolute;
            color: #fff;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            .text {
                width: 67%;
                max-width: 720px;
                text-align: center;
                padding: 0 20px;
                margin-top: 135px;
                h1 {
                    font-size: 56px;
                    letter-spacing: 6px;
                    text-transform: uppercase;
                    white-space: nowrap;
                    font-weight: bold;
                }
                p {
                    font-size: 20px;
                    margin-top: 25px;
                    line-height: 1;
                }
            }
        }
        video {
            display: inline;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
            min-height: 565px;
            max-height: 565px;

            .ie & {
                max-height: none;
            }

            .edge & {
                max-height: none;
            }
        }
        .button-wrapper {
            position: absolute;
            width: 130px;
            height: 130px;
            top: 48%;
            left: 0;
            right: 0;
            margin: 0 auto;
            .play-button {
                position: relative;
                width: 100%;
    			height: 100%;                
                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
        }
    }
}


@media all and (max-width: 1024px) {
	.ambient-video {
    	.hero-banner {    		
    		.text-wrapper {
                .text {                	
                    h1 {
                        white-space: normal;                      
                    }                    
                }
            } 
            .button-wrapper {
                top: 60%;
            }           
    	}
    }
}

@media all and (max-width: 800px) {
    .ambient-video {
        .hero-banner {
            background: #627077 no-repeat scroll 50% 50%;
            background-image: url(i/sprocket/sf_hero_banner.png);
            background-size: cover;
            height: 565px;
            .text-wrapper {
                .text {
                    h1 {
                        font-size: 50px;
                        white-space: normal;                        
                    }
                    p {
                        font-size: 18px;
                        margin-top: 25px;
                    }
                }
            }
            video {
                display: none;
            }            
        }
    }
}

@media all and (max-width: 671px) {
    .ambient-video {
    	.hero-banner {
    		height: 320px;
    		.text-wrapper {
                .text {
                	margin-top: 55px;                	
                    h1 {
                        font-size: 36px;                        
                    }
                    p {
                        display: none;
                    }                    
                }
            }
            .button-wrapper {
                top: 45%;
                width: 80px;
                height: 80px;
            }
    	}
    }
}

@media all and (max-width: 497px) {
    .ambient-video {
    	.hero-banner {
    		height: 240px;
    		.text-wrapper {
                .text {                	
                    h1 {
                        font-size: 24px;                        
                    }                    
                }
            }
            .button-wrapper {
                top: 50%;                
            }
    	}
    }
}