.meets-press {
    display: block;
    background-color: #7C3893;
    color: #fff;
    padding: 50px 30px;
    .head-item {
        h3 {
            font-size: 44px;
            line-height: 1.25;
            text-transform: uppercase;
        }
        .description {
            font-size: 18px;
            line-height: 1.5;
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
    .bottom-links {
        .wrapper {
            display: inline-block;
            padding: 30px 0 0 0;
            .separator {
                display: inline-block;
                padding: 0 30px 0 25px;
                border-right: 1px solid #fff;
            }
            &:last-child .separator {
                border: none;
            }
            a {
                color: #fff;
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
                &:after {
                    border-left-color: #fff;
                }
            }
        }
    }

    @media all and (max-width: 800px) {
        padding: 45px 30px 0 30px;
        .head-item {
            h3 {
                font-size: 36px;                
            }
            .description {
                font-size: 18px;                
            }
        }
        .bottom-links {
        	.wrapper {
        		display: block;
        		padding: 15px 0;
        		border-top: 1px solid #fff;
        		.separator {
        			border: none;
        		}
        	}
        }
    }

    @media all and (max-width: 497px) {        
        .head-item {
            h3 {
                font-size: 24px;                
            }            
        }        
    }
}