section.app-experience {

  .text-beside-image {
    display: flex;

    > div {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }

    .image-wrapper {
      height: 900px;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("i/sprocket/sf_app-experience-bg.png");
    }

    .text-wrapper {
      position: relative;
      padding-top: 60px;
      overflow: hidden;
      height: 900px;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("i/sprocket/sf_app-experience-bg-red.png");
    }

    h2,h4 {
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
    }

    h2 {
      font-size: 42px;
      letter-spacing: 5px;
    }

    h4 {
      font-size: 20px;
      margin-bottom: 25px;
      letter-spacing: 2px;
    }
  }

  .width-50 {
    width: 50%;
  }

  .phone-slider {
    position: absolute;
    padding: 85px 20px 0;
    width: 360px;
    height: 580px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("i/sprocket/sf_app-experience-phone.png");
    box-sizing: border-box;
  }

  .slick-desc-wrapper {
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 250px;
  }

  .description {
    color: #ffffff;
    font-size: 24px;
    display: inline-block;
    text-align: center;
  }

  .slider {
    .slick-list {
      .ie & {
        max-height: 495px;
      }
    }
    .cell {
      .description {
        display: none;
      }
    }
    .image {
      img {
        width: 100%;
      }
    }

    .slick-dots {
      top: -210px;
      bottom: auto;
    }

    .slick-prev, .slick-next {
      top: 22%;
      border-color: #ffffff;
    }

    .slick-prev {
      left: -100px;
    }

    .slick-next {
      right: -100px;
    }

    @media screen and (max-width: 1260px){
      .slick-prev {
        left: -50px;
      }

      .slick-next {
        right: -50px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .text-beside-image {
      display: block;

      .image-wrapper {
        height: 280px;
        background-image: url("i/sprocket/sf_app-experience-bg-mob.png");
      }

      .text-wrapper {
        padding-top: 35px;
        height: 750px;

        h2 {
          font-size: 24px;
          padding: 0 20px;
          margin-top: 15px;
        }

        h4 {
          font-size: 18px;
          //max-width: 170px;
          margin: 0 auto;
          line-height: 1.5;

        }
      }
    }

    .phone-slider {
      padding: 48px 11px 0;
      width: 200px;
      height: 410px;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }

    .width-50 {
      width: 100%;
    }

    .slider {
      .image img {
        height: 314px;
      }
      .slick-prev, .slick-next {
        display: none !important;
      }

      .slick-dots {
        top: auto;
        bottom: 10px;
      }

      .cell {
        .description {
          display: inline-block ;
          font-size: 18px;
          position: relative;
          bottom: -75px;
          line-height: 1.2;
        }
      }

      .slick-list {
        padding-bottom: 125px;
      }
    }

    .slick-desc-wrapper {
      display: none;
    }
  }

  @media screen and (max-width: 671px) {
    .text-beside-image {
      .image-wrapper {
        height: 400px;
      }
    }
  }

  @media screen and (max-width: 375px){
    .phone-slider {
      width: 175px;
      height: 360px;
      padding: 42px 8px 0 10px;
    }

    .slider {
      .slick-list {
        padding-bottom: 105px;
      }

      .image img {
        height: 277px;
      }

      .cell {
        .description {
          bottom: -55px;
        }
      }
    }

    .text-beside-image .text-wrapper {
      height: 675px;
    }
  }
}