.already-have {
    background-color: #f4f4f4;
    padding: 75px 30px 60px 30px;
    .head-item {
        margin-bottom: 30px;
        h3 {
            font-size: 42px;
            line-height: 1.25;
            color: #000;
            text-transform: uppercase;
        }
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .bottom-item {
            padding: 10px 40px;
            &:first-child {
                border-right: 1px solid #000;
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;                
            }
            .description {
                margin-bottom: 35px;
                font-size: 18px;
                line-height: 1.25;
                color: #000;
            }
            .image {                
                display: -webkit-box;
                display: flex;
                .width-50 {
                    &:first-child {
                        margin-right: 20px;
                    }
                    img {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
            .black-version {
                background-color: #f4f4f4;
                &:hover {
                    background-color: #000;
                }
            }
        }
    }
    @media all and (max-width: 800px) {
    	.head-item {
            h3 {
                font-size: 32px;
            }
        }
        .wrapper {
            flex-direction: column;
            .bottom-item {
                padding: 50px 0;
                &:first-child {
                    border-bottom: 1px solid #000;
                    border-right: none;
                    padding-top: 0;
                    width: 100%;
                }
                &:last-child {
                    padding-bottom: 0;
                    width: 100%;
                    max-width: 375px;
                }
            }
        }
    }

    @media all and (max-width: 497px) {
        .head-item {
            h3 {
                font-size: 24px;
            }
        }
    }
}