.reinvent-memories {
    padding: 100px 0;
    .head-item {        
        h3 {
            color: #000;
            font-size: 42px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 5px;
            line-height: 1;
        }
    }
}

@media all and (max-width: 1024px) {
	.reinvent-memories {
		padding: 50px 0 70px 0;
	}
}

@media all and (max-width: 800px) {
    .reinvent-memories {
        padding: 80px 0 120px 0;
        .head-item {            
            h3 {                
                font-size: 32px;                
            }
        }
    }
}

@media all and (max-width: 497px) {
    .reinvent-memories {
        padding: 40px 0 50px 0;
        .head-item {            
            h3 {                
                font-size: 18px;                
            }
        }
    }
}