section.around-world {
  background-color: #f4f4f4;
  padding: 70px 60px 0;
  box-sizing: border-box;

  h2.title, p.description {
    text-align: center;
  }

  h2.title {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: normal;
    margin: 25px auto;
  }

  p.description {
    font-size: 16px;
    color: #5a5a5a;
  }

  .slider {
    max-width: 1560px;
    width: 100%;
    display: block;
    padding: 0 0 100px;
    margin: 0 auto;

    .slick-prev,
    .slick-next {
      top: 40%;
    }

    .slick-dots {
      bottom: 70px;
    }

    .slick-track {
      display: flex;
    }

    .cell {
      width: 33.33%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: inherit;
      margin-top: 50px;
      margin-left: 25px;
      margin-right: 25px;
      box-sizing: border-box;
    }
  }

  .cell {
    .image {
      position: relative;

      img {
        display: block;
        width: 100%;
      }
      .play-button svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 130px;
        height: 130px;
        margin-top: -70px;
        margin-left: -65px;
        cursor: pointer;
      }

      .play-icon {
        opacity: .2;
        transition: opacity .5s;
        -webkit-transition: opacity .5s;
        fill: #fff;
      }

      .play-icon-arrow {
        fill: #fff;
      }
    }
    .description {
      background-color: #ffffff;
      padding: 20px 25px;
      color: #5a5a5a;
      line-height: 1.2;
      height: 100%;
      text-align: left;
    }
  }

  @media screen and (max-width: 800px){
    padding: 1px 20px 0;

    h2.title {
      font-size: 22px;
    }

    p.description {
      display: none;
    }

    .slider {
      padding: 0 0 35px;

      .slick-dots {
        bottom: 35px;
      }

      .cell {
        margin-top: 0;
        margin-left: 100px;
        margin-right: 100px;
        display: block;
        .description {
          height: auto;
        }
      }
    }
  }

  @media screen and (max-width: 671px) {
    .slider {
      .cell {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}