.meet-family {
    position: relative;
    background-color: #fff;
    padding: 80px 0;
    .head-item {
        color: #000;
        text-transform: uppercase;
        padding: 10px 20px 80px 20px;
        letter-spacing: 7px;
        h5 {
            font-size: 32px;
            line-height: 1.25;
            margin-bottom: 30px;
        }
        h2 {
            font-size: 60px;
            line-height: 1.25;
            font-weight: bold;
        }
    }
    .three-items {
        display: flex;
        padding: 0 20px 0 20px;
        max-width: 1280px;
        margin: 0 auto;
        .items-wrapper {
            display: flex;
            padding-bottom: 17px;
            margin-bottom: -17px;
            overflow-x: auto;
            width: 100%;
        }
        .item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            margin-left: 20px;
            .image {
                height: 320px;
                img {
                    display: none;
                    margin: 0 auto;
                    width: auto;
                    max-width: 100%;
                    height: 100%;

                    &.active {
                        display: block;
                    }
                }
            }
            .text-wrapper {
                margin-top: 20px;
                margin-bottom: 0;
                justify-self: flex-end;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    font-size: 20px;
                    text-transform: uppercase;
                    line-height: 1.25;
                    color: #000;
                }
                .description {
                    flex-grow: 1;
                    font-size: 16px;
                    line-height: 1.5;
                    margin: 11px auto 25px;
                    color: #000;
                    width: 100%;
                }
            }
            &:first-child {
                margin-left: 0;
            }
        }
        &.slick-slider {
            .slick-track {
                display: flex;
                height: 100%;
            }
        }
    }

    .color-name{
        margin-bottom: 20px;
    }

    .colored-products {
        margin-bottom: 20px;
        li {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            border-width:1px;
            &.active {
                border: 1px solid #000000;
            }

            > span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid #AAAAAA;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                outline: none;
                cursor: pointer;
            }
        }
    }

    .buttons-wrapper {
        .button {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    @media screen and (max-width: 1260px) {
        .three-items {
            .item {
                .image {
                    height: 310px;
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        .three-items {
            .item {
                .image {
                    height: 265px;
                }
            }
        }
    }
    @media screen and (max-width: 900px) {
        .three-items {
            .item {
                .image {
                    height: 235px;
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        padding: 40px 0 70px;
        .description {
            padding: 0 10px;
        }
        .head-item {            
            padding: 10px 20px 25px 20px;
            letter-spacing: 5px;
            h5 {
                font-size: 24px;                
                margin-bottom: 30px;
            }
            h2 {
                font-size: 40px;                
            }
        }
        .slick-dots {
            left: 0;
            bottom: -20px;
        }
        .three-items {
            .item {
                .image {
                    height: 320px;
                }
            }
        }
    }
    @media screen and (max-width: 321px) {
        .three-items {
            .item {
                .image {
                    height: 235px;
                }
            }
        }   
    }

    &:not(.js-slider) {
        @media screen and (max-width: 800px) {
            padding: 40px 0;
            .three-items {
                overflow: hidden;
                padding: 0;

                .width {
                    margin: 0 10px;
                    min-width: 40%;
                    margin-bottom: 20px;
                }

                .item {
                    .image {
                        height: 235px;
                    }
                }
            }
        }
        @media screen and (max-width: 671px) {
            .head-item {                       
                letter-spacing: 3px;
                h5 {
                    font-size: 18px;                
                    margin-bottom: 20px;
                }
                h2 {
                    font-size: 24px;                
                }
            }
        }

        @media screen and (max-width: 561px) {
            .three-items {              
                .width {
                    min-width: 66%;
                }          
            }
        }

        @media screen and (max-width: 497px) {
            .three-items {
                .item {
                    .image {
                        height: 195px;
                    }
                }

                .custom-button {
                    min-width: 170px;
                }
            }   
        }

        @media screen and (max-width: 321px) {
            .three-items {
                .width {
                    min-width: 65%;
                } 
                .item {
                    .image {
                        height: 180px;
                    }
                }
            }   
        }
    }

}