.instant-shareable {
    position: relative;
    background: #627077 no-repeat scroll 50% 50%;
    background-image: url(i/sprocket/sf_paper_bkg.png);
    background-size: cover;
    height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .goto-bottom {
        display: block;
        width: 1000px;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .desktop-only {
        text-transform: uppercase;
        font-size: 20px;
        white-space: nowrap;
        width: 80px;
        display: block;
        margin: 0 auto;
        .text-wrapper {
        	padding-top: 40px;
        }
    }
    .head-item {
        color: #000;
        text-transform: uppercase;
        padding: 100px 20px 80px 20px;
        letter-spacing: 7px;
        h3 {
            font-size: 42px;
            line-height: 1.25;
            font-weight: bold;
        }
        .description {
            font-size: 32px;
            line-height: 1;
            margin-top: 30px;
            letter-spacing: 3px;
        }
    }
    .three-items {
        display: flex;
        padding: 0 20px 80px 20px;
        width: 100%;
        .item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            margin-left: 20px;
            padding: 0 20px;
            .image {
                img {
                    display: block;
                    margin: 0 auto;
                    width: auto;
                    max-width: 100%;
                }
                &.mobile-image {
                    display: none;
                }
            }
            .text-wrapper {
                margin-top: 20px;
                margin-bottom: 0;
                justify-self: flex-end;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    font-size: 20px;
                    text-transform: uppercase;
                    line-height: 1.25;
                    color: #000;
                }
                .description {
                    flex-grow: 1;
                    font-size: 18px;
                    line-height: 1.5;
                    margin: 11px auto 25px;
                    color: #000;
                }
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }

    @media screen and (max-width: 800px) {
        background: none;
        display: block;
        height: auto;
        padding-bottom: 80px;
        .desktop-only {
            display: none;
        }
        .head-item {
            padding: 50px 20px;
            letter-spacing: 4px;
            h3 {
                font-size: 32px;
            }
            .description {
                font-size: 20px;
                margin-top: 20px;
            }
        }
        .three-items {
        	padding: 0;
            .item {
            	padding: 0 20px;
                .image {
                    &.mobile-image {
                        display: block;
                    }
                }
                .text-wrapper {
                    .description {
                        width: 100%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 671px) {
        .head-item {            
            letter-spacing: 2px;
            h3 {
                font-size: 32px;
            }
            .description {
                font-size: 20px;
            }
        }
    }

    @media screen and (max-width: 497px) {
        .head-item {            
            letter-spacing: 2px;
            h3 {
                font-size: 24px;
            }
            .description {
                font-size: 18px;
            }
        }
    }
}