.support-section {
    display: block;
    background-color: #0096D6;
    color: #fff;
    padding: 50px 30px;
    .head-item {
        h3 {
            font-size: 36px;
            line-height: 1.25;
            text-transform: uppercase;
        }
        .description {
            font-size: 18px;
            line-height: 1.5;
            margin-top: 10px;
        }
    }
    .bottom-links {
        .wrapper {
            display: inline-block;
            padding: 30px 0 0 0;
            .separator {
                display: inline-block;
                padding: 0 30px 0 25px;
                border-right: 1px solid #fff;
                a {
                    color: #fff;
                    font-size: 16px;
                    line-height: 20px;
                    &:after {
                        border-left-color: #fff;
                    }
                }
            }
            &:last-child .separator {
                border: none;
            }
        }
    }

    @media all and (max-width: 800px) {        
        .head-item {
            h3 {
                font-size: 30px;
            }
            .description {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
        .bottom-links {
            .wrapper {
                display: block;
                padding: 15px 0;
                .separator {
                    border: none;
                    padding: 0;
                    a {
                        text-decoration: underline;
                        padding: 0;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width: 497px) {
        .head-item {
            h3 {
                font-size: 24px;
            }
        }
    }
}