
.every-pocket {
	position: relative;
	background: #627077 no-repeat scroll 50% 50%;
    background-image: url(i/sprocket/sf_every_pocket.png);
    background-size: cover;
    height: 1480px;
    .main-image {
    	display: none;
    }
    img {
    	width: 100%;
	    max-width: 100%;
    }
    .head-item {
    	display: block;
    	width: 100%;
    	padding-top: 100px;
    	padding-left: 20px;
    	padding-right: 20px;
    	h2 {
    		font-size: 56px;		    
		    margin-bottom: 50px;
		    letter-spacing: 5px;
		    font-weight: bold;
		    text-transform: uppercase;
    	}    	
    }
    .bottom-group {
    	position: absolute;
    	bottom: 0;
    	display: flex;
    	padding: 0 20px 80px 20px;
        width: 100%;
    	max-width: 1280px;
    	margin: 0 auto;
    	left: 0;
    	right: 0;
    	.item {
    		display: flex;
    		flex-direction: column;    		
    		margin-left: 20px;
    		width: 33.33%;
    		.image {
    			position: relative;
    			overflow: visible;
    			display: block;
    			width: 100%;
    			img {
    				height: 90px;
    				display: block;
    				margin: 0 auto;
    				width: auto;
    			}    			    			
    		}
    		.text-wrapper {
    			margin-top: 20px;
    			margin-bottom: 0;
    			color: #fff;
    			h4 {
    				font-size: 20px;
    				text-transform: uppercase;
    				line-height: 1.25;
    			}
    			.description {
    				font-size: 16px;
    				line-height: 1.5;
    				margin: 11px auto 25px;
    			}
    		}
    	}

    }
}

@media all and (max-width: 1280px) {
	.every-pocket {
		background: none;	    
	    //height: auto;
	    .main-image {
	    	position: relative;
	    	display: inline-block;	    	
	    	min-height: 450px;
	    	&.mobile {
	    		display: none;
	    	}
	    }
	    .head-item {	    	
	    	position: absolute;
    		top: 0;
    		left: 0;
    		h2 {
    			font-size: 50px;
    		}
	    }
	}
}

@media all and (max-width: 1024px) {
	.every-pocket {
		height: auto;
		.head-item {			    	
    		h2 {
    			font-size: 46px;    			
    		}
	    }
	}
}

@media all and (max-width: 800px) {
	.every-pocket {
		.head-item {
			padding-top: 80px;	    	
    		h2 {
    			font-size: 40px;
    			margin-bottom: 30px;
    		}
	    }
	    .bottom-group {
			padding: 0 20px 40px;
	    	.item {
				margin: 0;
	    		.image {
	    			img {
	    				height: 70px;
	    			}
	    		}
	    	}
	    }
		.slick-list {
			padding-bottom: 0;
		}
		.slick-dots {
			bottom: auto;
			top: -50px;
			left: 0;
			li button {
				background-color: #939393;
			}
			li.slick-active button {
				background-color: #ffffff;
			}
		}
	}
}

@media all and (max-width: 671px) {
	.every-pocket {
		.head-item {				    	
    		h2 {
    			font-size: 32px;    			
    		}
	    }
	}
}

@media all and (max-width: 497px) {
	.every-pocket {		
	    .main-image {
	    	&.mobile {
	    		display: inline-block;
	    	}	    		    	
	    	&.tablet {
	    		display: none;
	    	}
	    }
	    .head-item {
	    	padding-top: 50px;				    	
    		h2 {
    			font-size: 24px;    			
    		}
	    }
	}
}
@media all and (max-width: 350px) {
	.every-pocket {
		.bottom-group {
			padding: 0 20px;
		}
	}
}