.footnotes-section {
  background-color: #fff;
  display: block;
  text-align: left;
  padding: 0 40px;
  color: #000;
  .footnotes-wrapper {
    display: block;
    max-width: 1280px;
    margin: 38px auto;
    p {
      font-size: 12px;
      line-height: 1.25;
      br {
        margin-bottom: 10px;
      }      
    }
  }
}

@media all and (max-width: 497px) {
  .footnotes-section {
    padding: 0 30px;
  }
}