section.sprocket-accessories {
  padding: 100px 60px;
  background-color: #f4f4f4;

  h2 {
    font-size: 42px;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 2px;
  }

  .slider {
    max-width: 1220px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    .slick-prev, .slick-next {
      top: 40%;
    }
  }

  .slick-track {
    display: flex;
  }
  .cell {
    width: 33.33%;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: inherit;
    &.width-50 {
      width: 50%;      
    }
    &.width-100 {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }

  h4 {
    font-size: 24px;
    text-transform: uppercase;
    padding: 40px 20px 15px;
    line-height: 1.3;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
  }

  .content {
    justify-self: flex-end;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    font-size: 20px;
    color: #5a5a5a;
    line-height: 1.3;
    flex-grow: 1;
    margin-bottom: 40px;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    padding: 25px 100px;

    h2 {
      font-size: 22px;
    }

    h4, .description {
      font-size: 18px;
    }

    h4 {
      padding-top: 80px;
    }

    .cell {
      margin-top: 30px;
    }

    .slick-dots {
      bottom: 235px;
    }
  }

  @media screen and (max-width: 671px) {
    padding: 25px 20px;

    .cell {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media all and (max-width: 425px) {
    .slick-dots {
      bottom: 280px;
    }
  }
}