/* Arrows */
.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 30px;
  height: 30px;
  padding: 0;

  cursor: pointer;

  border-top: 0;
  border-right: 2px solid;
  border-left: 0;
  border-bottom: 2px solid;
  border-color: #939393;
  background: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: transparent;
  outline: none;
  background: transparent;
  border-color: #c2c2c2;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
  opacity: .25;
}

.slick-prev
{
  left: -25px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slick-next
{
  right: -25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Dots */
.slick-slider
{
 // margin-bottom: 30px;
}
.slick-slide:focus {
  outline: none;
}
.slick-dots
{
  position: absolute;
  bottom: -40px;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li
{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;

  @media screen and (max-width: 1024px){
    width: 10px;
    height: 10px;
  }
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: transparent;
  border: 0;
  padding: 0;
  border-radius: 50%;
  outline: none;
  background: #c2c2c2;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}

.slick-dots li.slick-active button
{
  background: #099bd7;
}



