.sticky-section{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(0, -80px, 0);
  -webkit-transform: translate3d(0, -80px, 0);
  height: 80px;
  width: 100%;
  text-align: center;
  background-color: #0096d6;
  color: white;
  font-size: 18px;
  padding: 0 40px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  z-index: 2;

  &.show-bar {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  .sticky-wrapper {
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;

    h2, a {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      vertical-align: top;
      display: inline-block;
    }
    h2 {
      float: left;
      font-size: 26px;
      font-weight: 100
    }
  }

  .custom-button.secondary-button.button {
    background: none;
    color: #ffffff;
    display: inline-block;
    height: auto;
    border: 1px solid #ffffff;
    float: right;
    text-transform: uppercase;

    &:hover {
      background: #ffffff;
      border-color: #ffffff;
      color: #0096D6;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 800px) {
    &.no-cta-button {
      display: none;
    }

    .sticky-wrapper {
      h2 {
        display: none;
      }
    }

    .custom-button.secondary-button.button {
      float: none;
      max-width: 170px;
      padding: 0 20px;
      font-size: 16px;
    }
  }
}
