//@import 'mixins';
//$font-light: 'HPSimplifiedLight', arial;
//$font-gobold_regular: 'gobold_regular', 'HPSimplifiedLight', arial;
// $font-gobold_bold: 'gobold_bold', 'HPSimplifiedLight', arial;
// $font-gobold_high_thin: 'gobold_high_thin', 'HPSimplifiedLight', arial;
// $font-gobold_high_bold: 'gobold_high_bold', 'HPSimplifiedLight', arial;
// $font-gobold_up_low: 'gobold_up_low', 'HPSimplifiedLight', arial;
// $font-gobold_thin_light: 'gobold_thin_light', 'HPSimplifiedLight', arial;
// $font-china: SimSun,Arial;

// a.button, button, input[type="submit"] {
// 	text-transform: uppercase;
// 	font-size: 1.25em;
// 	letter-spacing: 0.1em;
// }

h1,
h2,
h3,
h4 {
	font-weight: 400;
	padding: 0;
}

h5 {
	font-weight: bold;
	line-height: 1.25;
	margin-bottom: 20px;
}
sup {
	font-size: small;
	vertical-align: baseline;
	position: relative;
	top: -.4em;
}

/// editor end

body {
  font-size: 18px;
  
  @include desktop {
    font-size: 20px;
  }
}
h1 {
  font-size: 28px;

  @include desktop {
    font-size: 36px;
    line-height: 1.5;
  }

}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 24px;

  @include desktop {
    font-size: 36px;
    margin-bottom: 30px;
    letter-spacing: 4.8px;
  }
}
h3, h4 {
  font-size: 24px;
  font-weight: 400;
	line-height: 1.125;
  text-transform: uppercase;
  margin-bottom: 20px;
}
p {
  line-height: 1.25;
  margin-bottom: 1em;
  letter-spacing: .5px;

  &:last-child {
    margin-bottom: 0;
  }
}