//main resources
@import "reset";
//@import "fonts";
@import "fontfaces";
@import "mixins";
//@import "typography";
//@import "icons";
@import "sticky-bar";
@import "slick";
@import "slick-theme";
@import "overlay";
@import "_buttons-links";

//sections
@import "_section-ambient-video";
@import "_section-go-from";
@import "_section-around-world";
@import "_section-meets-press";
@import "_section-reinvent-memories";
@import "_section-app-experience";
@import "_section-already-have";
@import "_section-club-is-back";
@import "_section-every-pocket";
@import "_section-meet-family";
@import "_section-sprocket-accessories";
@import "_section-instant-shareable";
@import "_section-support";
@import "_section-footnotes";

body {
	font-family: "HPSimplifiedLight";
	text-align: center;
	* {
		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		-ms-box-sizing: border-box;
  		box-sizing: border-box;
	}
	
}

sup {
	font-size: small;
	vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

.width-100 {
	width: 100%;	
}
.width-50 {
	width: 50%;	
}
.width-33 {
	width: 33.33%;
}
.width-25 {
	width: 25%;
}
