@font-face {
    font-family:'HPSimplifiedLight';
    src:url("../fonts/hps/latin-e-light-eot.eot");
    src:url("../fonts/hps/latin-e-light-eot.eot?#iefix") format("embedded-opentype"),
        url("../fonts/hps/latin-e-light-woff.woff") format("woff"),
        url("../fonts/hps/latin-e-light-ttf.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}


