.hpi-icn:before {
    font-family: 'HPIFlex2Icons';
    speak: none;
    padding: 0 5px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}
.hpi-icn.icon-facebook:before {
	content: "\e900";
} 
.hpi-icn.icon-twitter:before {
	content: "\e904";
} 
.hpi-icn.icon-youtube:before {
	content: "\e905";
}
.show-on-mobile {
	display: none;
}
.icon-play {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  background-color: rgba(255,255,255,.5);
  border-radius: 50%;
  &:after{
    content: '';
    position: absolute;
    border: 18px solid transparent;
    border-left: 22px solid black;
    top: 50%;
    left: 33px;
    transform: translateY(-50%);
  }
}